<div class="finish-container">


    <!-- Hero Section -->
    <section class="hero-section">
      <div class="hero-content">
        <h1>FINALIZADO!</h1>
      </div>
    </section>
  
    <!-- text Section -->
    <section class="section-header">
      <div class="section-header">
        <h2>O Vendedor já foi notificado e seu pedido logo será enviado</h2>
      </div>
    </section>

    <!-- order info Section -->
    <section class="categories-section">
      <div class="section-header">
        <h2>Informações do Pedido</h2>
      </div>
  
      <div class="orderInfo-grid">
        <p-card 
          class="orderInfo-card" 
          *ngFor="let info of orderInfo"
          [routerLink]="['/order']" 
          [queryParams]="{info: info.orderNumber}">
          <ng-template pTemplate="orderInfo-header">
            <div class="orderInfo-header">
              <i [class]="info.itemPhoto"></i>
            </div>
          </ng-template>
          <div class="orderInfo-content">
            <h4>{{ "Pedido Número# " + info.orderNumber }}</h4>
            <p>{{ info.itemPhoto }}</p>
            <p-divider layout="vertical"/>
            <p>{{"Item: " + info.itemName }}</p>
            <p>{{"Valor: " + info.itemPrice }}</p>
            <p>{{"Quantidade: " + info.itemQuantity}}</p>
            <p>{{"Prazo de Entrega: " + info.deliveryTime}}</p>
          </div>
        </p-card>
      </div>
    </section>