<div class="login-wrapper">
  <div class="form-section">
    <form [formGroup]="exampleForm" (ngSubmit)="onSubmit()" class="login-card">
      <h2 class="login-title">Acesse sua conta</h2>
      <p class="login-subtitle">Bem vindo de volta!</p>

      <div class="form-field">
        <label for="email"> Email </label>
        <input id="email" pInputText formControlName="email" />
        @if (isInvalid('email')) {
        <p-message severity="error" text="Email é obrigatório"></p-message>
        }
      </div>

      <div class="form-field">
  <label for="password"> Senha </label>
  <div class="input-password-wrapper">
    <input id="password"
      pInputText
      formControlName="password"
      [type]="hidePassword ? 'password' : 'text'"
      required
    />
    <button type="button" class="toggle-password" (click)="hidePassword = !hidePassword">
      <i class="pi" [ngClass]="hidePassword ? 'pi-eye-slash' : 'pi-eye'"></i>
    </button>
  </div>
  @if (isInvalid('password')) {
    <p-message severity="error" text="A senha é obrigatória"></p-message>
  }
</div>

      <div class="button-container">
        <p-button type="submit" label="Entrar" styleClass="w-full"></p-button>
      </div>

      <div class="extra-links">
        <a href="#"> Esqueci minha senha</a>
        <span>.</span>
        <a href="#">Criar uma conta</a>
      </div>
    </form>
  </div>
  <div class="branding-section">
    <div class="branding-content">
      <i class="pi pi-shopping-bag brand-icon" style="font-size: 4rem"></i>
      <h1 class="branding-title">Mercado nosso</h1>
      <p class="branding-subtitle">O nosso jeito de comprar e vender</p>
    </div>
  </div>
</div>